/*
***********
TABLET + DESKTOP
***********
*/

@media (min-width: 768px) {
	#about1 { background-image: url(http://where-spotlight.s3.amazonaws.com/start-tank-chennai/home.jpg) ; }
	#about3 { background-image: url(http://where-spotlight.s3.amazonaws.com/start-tank-chennai/home2.jpg) ;
		background-color: #0093c2;
		height: 250px;
		}
	#about6 {background-image: url(http://where-spotlight.s3.amazonaws.com/start-tank-chennai/home3.jpg);}
	.apply_right {
		background-image: url(http://where-spotlight.s3.amazonaws.com/start-tank-chennai/apply.jpg); 
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: right top;
	}
	#about4 .community {
		background-image: url(http://where-spotlight.s3.amazonaws.com/start-tank-chennai/home3.jpg);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: right top;
	}
	.about_dots {
	height: 250px;
	}
	
	#about6_wrapper {
		float: left;
		background: white;
	}
	.about_page .apply_right {
		background-image: url(https://where-spotlight.s3.amazonaws.com/start-tank-chennai/about.jpg); 
	}
	.incubation_page .apply_right,
	.apply_page .apply_right {
		background-image: url(https://where-spotlight.s3.amazonaws.com/start-tank-chennai/apply.jpg); 
	}
	
	.community .startup_writeup,
	.community .mentor_writeup {
	padding: 20px 0 30px 30px;
	}
	
	.footer {
	margin: 0 auto;
	}
	
	p, ul, ol {
	font-size: 1.4em; 
	}
	.navChild ul li a img {
		width: 80%;
		height: auto;
		margin: 18px 0 0 0;
	}
	.community ul.mentor_logos {
		width: 37.5%;
		margin: 0 12.5% 0 0;
	}
	.community ul.mentor_logos li a, .community ul.mentor_logos li a.unselected {
	width: 32%;
	}
	
	#rulesandregulations_content {
		width: 50%;
		margin: 10% 0 0 -25%;
	}
	
	/* Startups */
	.col-md-5, .col-md-7 {float: left; display: block;}
	.col-md-5 { width:30%;}
	.col-md-5 img { width: 100%; }
	.col-md-7 { 
		width:66%; 
		margin: 0 2%; 
		text-align: left; 
	}
	.featurette {
		margin: 0;
	}
	.featuredstartup {
		height: 550px;
	}
	.featuredstartup .intro a {
		background: white;
		color: black;	
	}
	.featuredstartup .intro h2, 
	.featuredstartup .intro p {
		color: white;
	}
	#doparttime {
		background-image: url(https://where-spotlight.s3.amazonaws.com/start-tank-chennai/startups/hero_doparttime.jpg);
	}
	#fantain {
		background-image: url(https://where-spotlight.s3.amazonaws.com/start-tank-chennai/startups/hero_fantain.png);
	}
	#heyfeedback {
		background-image: url(https://where-spotlight.s3.amazonaws.com/start-tank-chennai/startups/hero_heyfeedback.png);
	}
	#kobster {
		background-image: url(https://where-spotlight.s3.amazonaws.com/start-tank-chennai/startups/hero_kobster.png);
	}
	
}

/*
***********
ONLY DESKTOP
***********
*/

@media (min-width: 1026px) {
	.featuredstartup .intro {
		width: 50%;
		padding: 100px 25% 0 25%;
	}
}
	
/*
***********
ONLY TABLET
***********
*/

@media (max-width: 1025px) and (min-width: 768px) {
	#about2, #about4, .aboutSubContainerL {
		height: 500px;
	}
	.featuredstartup .intro {
		width: 80%;
		padding: 100px 10% 0 10%;
	}
	
}

/*
***********
MOBILE
***********
*/

@media (max-width: 767px) {
	.navChild ul li a img {
		display:none;
	}
	#rulesandregulations_content {
		width: 80%;
		margin: 10% 0 0 -45%;
	}
	.featurette {
		width: 70%;
		margin: 50px 15% 0 15%;
	}
	.featurette p {text-align: left;}
	.featuredstartup .intro {
		width: 80%;
		padding: 140px 10% 0 10%;
	}
	.featuredstartup .intro a {
		background: #0093c2;
		color: white;
	}
}

/*
***********
ALL SIZES
***********
*/


.faq li {
	list-style-type:disc; 
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
}

.logo_square {
background-image: url("http://where-spotlight.s3.amazonaws.com/start-tank-chennai/starttank-chennai.svg");
}
.apply_page ul, ol {
font-size: 1em;
}

.apply_page ol li {
list-style-type: none;
margin: 0;
}

a.btn {
	background: #0093c2;
	color: white;
	font-weight: bold;
	padding: 1em;
	text-align: center;
	display: block;
	border-radius: 8px;
	max-width: 200px;
	width: 90%;
	margin: 5% auto;
}

#rulesandregulations_content {
	display: none;
	position: fixed;
	z-index: 101;
	height: 500px;
	left: 50%;
	top: 0;
	padding: 0 5%;
	background: white;
}

#rulesandregulations_content a.close {
	background-image: url(https://where-spotlight.s3.amazonaws.com/start-tank-chennai/x.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
}

#rulesandregulations_content h1 {
	margin: 2em 0 1em 0;
}

#rulesandregulations_content p {
	margin: 2em auto 1em auto;
	text-align: left;
}

#rulesandregulations_content li {
	list-style-type: disc;
	text-align: left;
	margin: 0 0 0 2em;
}

#blackbg {
	display: none;
	background: black;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	opacity: .8;
}

.ecosystem div {float: left; max-width:150px; width:46%; margin: 0 2% 0;}
.ecosystem div img {width:100%;}

/* Community */


.community_page .mentors, .community_page .mentor_writeup {
	background: transparent;
}

.community .mentors li a, .community .mentors li a.unselected {
opacity: 1;
}

.community .mentors li a:hover, .community .mentors li a.selected {
border: 1px solid #999;
}

.community .mentors p, .community .mentors li, .community .mentors h1, .community .mentors h1 span {
color: #777;
}


/* STARTUPS */

.featuredstartup {
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.featuredstartup .intro {
	text-align: left;
	background: transparent;
}

.featuredstartup .intro a {
	margin: 12px 0 0 0 ;
	display:block;
	border-radius: 6px;
	text-align: center;
	padding: 8px;
	width: 100%;
	max-width: 300px;
}
